[core]
	editor = vim
	autocrlf = true
	text = auto
	excludesfile = C:\\Users\\jeyou_000/.gitignore
[user]
	name = Eddy Young
	email = jeyoung@priscimon.com
[push]
	default = simple
[color]
	ui = auto
[http]
	sslVerify = false

[merge]
    tool = kdiff3

[mergetool.kdiff3]
    path = "C:\\Program Files\\kdiff3\\kdiff3.exe"


[alias]
    ls = log --pretty=format:"%C(green)%h %C(yellow)[%ad]%Cred%d %Creset%s%Cblue [%cn]" --decorate --date=relative

