*customization: -color

xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 10

xterm*faceSize1: 6
xterm*faceSize2: 8
xterm*faceSize3: 10
xterm*faceSize4: 12
xterm*faceSize5: 14
xterm*faceSize6: 16

xterm*geometry: 120x40

xterm*loginShell: true
xterm*saveLines: 2000

xterm*visualBell: true
xterm*selectToClipboard: true;

xterm*VT100.Translations: #override \
                 Shift <Key>Insert:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
